
@media all and (max-width: 1000px) {
    .lesson {
        width: 50%;
        margin-bottom: 20px;
    }
    
    .top-wrapper h1{
        font-size: 80px;
    }
    .top-wrapper h3 {
        font-size: 32px;
    }
    .heading {
        font-size: 45px;
    }
    
}


@media all and (max-width: 670px) {
    .lesson {
        width: 100%;
        margin-bottom: 20px;
    }

    .top-wrapper h1{
        font-size: 50px;
    }
    .top-wrapper h3 {
        font-size: 25px;
    }
    .heading {
        font-size: 25px;
    }
    
}
